.input-group {
    margin:20px 0px
}
td, th{
    vertical-align:middle !important;
    text-align:center !important;

}
svg{
    height:150px
}
td:first-of-type,td:first-of-type > div{
    height:200px;
    width:200px
}